@mixin clearfix {
  &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
@mixin center-horizontal-vertical {
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
  }
@mixin flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

// Media Queries in SASS - mixins

@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 37.5em) { @content; } // max 600px
  } @else if $size == tablet-portrait {
    @media (min-width: 37.5em) { @content; } // min 600px
  } @else if $size == tablet-landscape {
    @media (min-width: 56.25em) { @content; } // min 900px
  } @else if $size == desktop-up {
    @media (min-width: 75em) { @content; } // min 1200px
  } @else if $size == big-desktop-up {
    @media (min-width: 112.5em) { @content; } // min 1800px
  }
}