@mixin clearfix {
  &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
@mixin center-horizontal-vertical {
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
  }
@mixin flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

// Media Queries in SASS - mixins

@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}