.footer {
    background-color: $color-grey-dark-3;
    font-size: 1.4rem;
    padding: 7rem 0;
    position: relative;

  &__logo-box {
      margin-bottom: 8rem;
      margin-left: 5rem;
      position: absolute;
    }
  &__logo {
      width: 15rem;
    }
  &__navigation {
      border-top: 1px solid $color-grey-light-1;
      display: inline-block;
      padding-top: 2rem;
    }
  &__list {
      list-style: none;
    }
  &__item {
      display: inline-block;

    &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  &__link {
    &:link, &:visited {
        background-color: $color-grey-dark-3;
        color: $color-grey-dark-2;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .25s;
      }
    &:hover, &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        color: $color-primary;
        transform: rotate(5deg) scale(1.25);
      }
    }
  &__copyright {
      border-top: 1px solid $color-grey-light-1;
      color: #fff;
      float: right;
      padding-top: 2rem;
      width: 80%;
    }
  }