.card {
    -moz-perspective: 150rem;
    height: 50rem;
    perspective: 150rem;
    position: relative;

  &__side {
      backface-visibility: hidden;
      border-radius: .5rem;
      box-shadow: $card-shadow;
      color: #fff;
      font-size: 2rem;
      height: 50rem;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .8s ease;
      width: 100%;

    &--front {
        background-color: white;
      }
    &--back {
        transform: rotateY(180deg);

      &-1 {
          background: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }
      &-2 {
          background: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }
      &-3 {
          background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }
      }
    }
  &:hover &__side--front {
      transform: rotateY(180deg);
    }
  &:hover &__side--back {
      transform: rotateY(0);
    }
  .card__heading-span {
      position: absolute;
      top: 20%;

    &--1 {
        background: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    &--2 {
        background: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    &--3 {
        background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }
    }
  .card__picture {
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(75%);
      height: 15vh;

    &--1 {
        background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.3), rgba($color-secondary-dark, 0.5)), url('/img/nat-5.jpg') ;
      }
    &--2 {
        background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.3), rgba($color-tertiary-dark, 0.55)), url('/img/nat-6.jpg');
      }
    &--3 {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.3), rgba($color-primary-dark, 0.55)), url('/img/nat-7.jpg');
      }
    }
  &__details {
      color: #000;

    ul {
        list-style: none;
        margin: auto;
        padding: 1rem;

      li {
          font-size: $default-font-size;
          margin: 1.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid #eee;
          }
        }
      }
    }
  &__cta {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  &__price--only {
      font-size: 1.25rem;
    }
  &__price--value {
      font-size: 5rem;
      font-weight: 300;
      margin-bottom: 5rem;
    }
  }