.form {
  display: flex;
  flex-direction: column;
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2.5px;
    background-color: rgba($color-white, .5);
    border-bottom: 3px solid transparent;
    border: none;
    width: 90%;
    display: block;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
      &:focus {
        border-bottom: 3px solid $color-primary;
      }
    }
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }
  &__button {
    width: 16rem;
    height: 4.5rem;
    background-color: $color-primary-dark;
    border-radius: 2rem;
    color: white;;
    border: 0;
    padding: 14px;
    margin: auto;
  }
  
  &__label {}

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__radios {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 1.5rem;
    .radio {
      width: 2rem;
      height: 2rem;
    }
    label {
      font-size: 1.25rem;
    }
  }
}