.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, .8);
  z-index: 9999;
  &__content {
    display: flex;
    width: 80%;
    height: 70vh;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 15px;
    overflow: hidden;
  }
  &__left {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    background-color: black;
  }
  &__right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem;
    margin: 0 3rem;
    h2 {
      display: block;
      font-size: 5rem;
      color: $color-primary-dark;
    }
    h3 {
      font-size: 1.8rem;
      color: $color-grey-dark;
      font-weight: 600;
    }
  }
  &__section {
    display: flex;
    margin: 2rem 0;
    font-size: 1.2rem;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 5rem;
    column-gap: 5rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    p:first-child {
      border-right: 1px solid #eee;
    }
  }
  &__button {
    width: 16rem;
    height: 4.5rem;
    background-color: $color-primary-dark;
    border-radius: 2rem;
    font-size: 1rem;
    color: white;;
    border: none;
    padding: 14px;
    cursor: pointer;
    transition: all .5s;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    &:hover {
      font-size: 1.25rem;
      animation: btnUp 2s infinite;
      overflow: hidden; 
    }
  }
}