.story {
    background-color: rgba($color-white, .6);
    box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
    display: flex;
    padding: 5rem;
    transform: skewX(-7deg);

  &__shape {
      position: relative;

    &--caption {
        backface-visibility: hidden;
        color: #fff;
        font-size: 1.75rem;
        left: 50%;
        line-height: 1;
        opacity: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        transform: translate(-50%, 20%);
        transition: all .5s;
      }
    }
  &:hover &__shape--caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  &__text {
      font-size: $default-font-size;
      margin-left: 2rem;
      transform: skewX(7deg);
    }
  &__image {
      clip-path: circle(50% at 50% 50%);
      filter: brightness(70%) hue-rotate(45deg);
      height: 15rem;
      position: relative;
      transform: skewX(7deg);
      transition: blur .5s ease-in;
      width: 15rem;
    }
  &:hover &__image {
      filter: blur(3px) brightness(70%);
    }
  }