*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
html {
    font-size: 62.5%; // 1 rem = 10px
    scroll-behavior: smooth;
  }
body {
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
    @include for-size(phone) {
      font-size: 30%;
    }
    @include for-size(tablet-portrait) {
      font-size: 45%;
    }
    @include for-size(tablet-landscape) {
      font-size: 56.25%;
    }
    @include for-size(desktop-up) {
      font-size: 60%;
    }
    @include for-size(big-desktop-up) {
      font-size: 70%;
    }
  }
   /* root font size */