*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* root font size */
  @media (max-width: 768px) {
      font-size: 35%;
  }
}