*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
body {
    box-sizing: border-box;
  }
html {
    font-size: 62.5%;
    @include for-size(phone) {
      font-size: 30%;
    }
}
   /* root font size */